{% extends 'first_app/base.html' %}


{% block body_block %}


<div class="card">
    <div class="card-body">
      <h4 class="card-title text-left">Students <span><a href="{% url 'first_app:student_form' %}" class="btn btn-success text-right">Add New</a></span></h4>

      {% if student_list %}

      <table class="table table-striped table-dark">
          <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Dept</th>
          <th>Email</th>
          <th>Action</th>
          </tr>

          
          
          {% for student_list in student_list %}
            <tr>
                <td>{{ student_list.name }}</td>
                <td>{{ student_list.age }}</td>
                <td>{{ student_list.dept }}</td>
                <td>{{ student_list.email }}</td>
                <td><a href="{% url 'first_app:student_info' student_id=student_list.id %}" class="btn btn-danger">Info</a></td>
            </tr>
          {% endfor %}
              
          
              
              
      </table>

      {% else %}

          <p>No Students Available</p>
              
          {% endif %}

    </div>

    
    {% if mgs %}
        {{ mgs }}
    {% endif %}
        
  </div>

    
{% endblock body_block %}
    